/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

/* Header/Logo Title */
.header_pink {
  padding: 60px;
  text-align: center;
  background: #ff008a;
  color: white;
  font-size: 30px;
}

/* Page Content */
.content {padding:20px;}
